.App {
  text-align: center;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.inner{
  margin-left: 30px;
}
.header{
  position: absolute;
  text-align: left;
  z-index: 5;
  background:linear-gradient(to bottom, rgba(77, 80, 97,1) 10%,rgba(77, 80, 97,0) );
  width:72vw;
  color: #70ef94;
  right:28vw;
  font-family:'Oregano', cursive;
}
